version: "1.0"

services:
  core-keeper:
    image: escaping/core-keeper-dedicated:latest
    container_name: core-keeper
    restart: unless-stopped
    stop_grace_period: 30s

    environment:
      TZ: "America/New_York"

      # === Core Keeper server settings ===
      SERVER_NAME: "AQ-keeper"
      WORLD_NAME: "AQ-Keeper"
      MAX_PLAYERS: "8"
      PASSWORD: "charcoal"

      # === Discord webhook ===
      DISCORD_WEBHOOK_URL: ""

      # Discord Messages
      DISCORD_SERVER_START_ENABLED: true
      DISCORD_SERVER_START_TITLE: "The Server has Started!"
      DISCORD_SERVER_START_MESSAGE: "**GameID:** $${gameid}"

      DISCORD_SERVER_STOP_ENABLED: true
      DISCORD_SERVER_STOP_TITLE: "The Server has Stopped!"

      DISCORD_PLAYER_JOIN_ENABLED: true
      DISCORD_PLAYER_JOIN_MESSAGE: "$${char_name} has joined the server."

      DISCORD_PLAYER_LEAVE_ENABLED: true
      DISCORD_PLAYER_LEAVE_MESSAGE: "$${char_name} has disconnected. Reason: $${reason}."

    ports:
      - "27015:27015/udp"

    volumes:
      # Persistent config / saves / logs
      - ./config:/config
      - ./worlds:/worlds
      - ./logs:/logs
